<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Hacker Name Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto+Mono:wght@100;300&family=Sacramento&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class ="content-container">
      <h1>&gt; your new hacker name is...</h1>
      <p>{{name}}</p>
      <a href="https://github.com/sam-redman/hack-name-generator">Source code can be found here</a>
    </div>
  </body>

</html>