/**********************TAG SELECTORS***********************/

html {
    background-color: #282c34;
}

body {
    font-family: "Roboto Mono", monospace;
}

h1 {
    color: #ffffff;
    font-size: 2.25rem;
}

p {
    color: #f2df30;
    font-size: 5rem;
    margin: 0;
    padding-top: 20px;
}

a {
    position: absolute;
    padding-bottom: 50px;
    bottom: 0;
    color: #919191;
    font-size: 1.20rem;
}

/**********************CLASS SELECTORS***********************/

.content-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}